structdef MS{ int a; float b; bool c; };

function : void foo(int a, int b, int c, int d, int e, int f, bool g, bool * h, bool & i)
{
    cout << "1. " << g << endl;
    cout << "2. " << *h << endl;
    cout << "3. " << i << endl;

    *h = true;
    i = false;
}


function : void main()
{
    bool g = false;
    bool * h = &g;
    bool i = true;

    foo(1,2,3,4,5,6,g,h,i);

    cout << "4. " << g << endl;
    cout << "5. " << *h << endl;
    cout << "6. " << i << endl;

}