structdef MS{ int a; float b; bool c; };

function : void foo(int a, int b, int c, int d, int e, int f, float g, float * h, float & i)
{
    cout << "1. " << g << endl;
    cout << "2. " << *h << endl;
    cout << "3. " << i << endl;

    *h = 33.00;
    i = 33.00;
}


function : void main()
{
    float g = 5.0;
    float * h = &g;
    float i = 2.0;

    foo(1,2,3,4,5,6,g,h,i);

    cout << "4. " << g << endl;
    cout << "5. " << *h << endl;
    cout << "6. " << i << endl;

}