static int c1 = 5;
static float c2 = 5.0;
static bool c3 = false;
 
static int i;
static float f;
static bool b;

function : void main() {
  i = c1;
  f = c2;
  b = c3;

  cout << i << endl;
  cout << f << endl;
  cout << b << endl;
}
