float x = 3.2;

function : void main() {
  float y = 3.84;
  
  cout << x++ + y << endl;
  cout << x << endl;
  
  cout << x + ++y << endl;
  cout << y << endl;
 
  cout << x-- + y << endl;
  cout << x << endl;

  cout << x + --y << endl;
  cout << y << endl;
}
