int arr1[2];
float arr2[3];

function : void main() {
  foreach (int x : arr1) {
    break;
    cout << x << endl;
  }

  foreach (float x : arr1) {
    continue;
    cout << x << endl;
  }

  foreach (float x : arr2) {
    cout << x << endl;
  }
}
