
function : void main() {
 int* ip;
 float* fp;
 new ip;
 *ip = 1220330230;
 fp = (float*) ip;
 cout << *ip << " converted to FP: " << *fp << endl;
 *fp = 220.256;
 cout << *fp << " converted to int: " << *ip << endl;
 delete fp;
}
